.work {
  color: var(--secondary-text-color);
}

.work__item {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
}
.work__list {
  @extend %all-flexx;
  margin-top: -30px;
  margin-left: -30px;
}
