.button {
  border-radius: 4px;
  font-size: 16px;
  border-color: transparent;
  font-family: inherit;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

/* КНОПКИ-ФИЛЬТР В СЕКЦИИ ПОРТФОЛИО */

.portfol__list {
  @include flex;

  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: start;
}
@media screen and (min-width: 768px) {
  .portfol__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfol__list {
    margin-bottom: 50px;
  }
}

.button--portfolio {
  background-color: var(--section-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  padding: 6px 22px;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfol__item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 15px;
}

.portfol__item:not(:last-child) {
  margin-right: 8px;
}

/* ГЛАВНАЯ КНОПКА (ЗАКАЗАТЬ УСЛУГУ) */

.button--main {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-top: 10px;
}

/* РАБОТАЕМ С КНОПКОЙ ЗАКРЫТЬ */

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--icon-close-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    cursor: pointer;
  }
}
//  Кнопка закрыть для мобильного меню

.menu-close {
  position: absolute;
  right: 25px;
  top: 21px;
  background-color: transparent;
  border: none;
  padding: 0;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

//  Кнопка открыть для мобильного меню

.menu-open {
  background-color: transparent;
  border: none;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
  padding: 0;

  &:hover,
  &:focus {
    fill: var(--accent-color);
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}
