.logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.logo--header {
  color: var(--text-logo-color);
  margin-right: 93px;
}

.logo--footer {
  color: var(--white-color);
}
.logo__logotip {
  color: var(--accent-color);
}
