.site-nav__link {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.site-nav__link--current {
  color: var(--accent-color);
  position: relative;

  &::after {
    position: absolute;
    bottom: -190%;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
.site-nav__list {
  display: flex;
  flex-direction: row;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
