.form-footer__item {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--footer-border-subscription);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: var(--white-color);

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-address-color);
  }
}

.button--subscription {
  width: 200px;
  height: 50px;
  line-height: 1.87;
  font-weight: 700;
  text-align: left;
  padding-left: 29px;
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-footer__icon {
  fill: var(--white-color);
  position: absolute;
  top: 13px;
  right: 28px;
}

.form-footer__subscription {
  display: inline-block;
  position: relative;
}
