.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
// @media screen and (min-width: 768px) {
//   .section {
//     margin-right: -30px;
//   }
// }
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work {
  padding-top: 47px;
}

.features {
  padding-bottom: 30px;
}
// .clients {
//   margin-right: auto;
// }
// @media screen and (min-width: 768px) {
//   .clients {
//     margin-right: -30px;
//   }
// }
// @media screen and (min-width: 1200px) {
//   .clients {
//     margin-right: auto;
//   }
// }
