:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --text-address-color: rgba(255, 255, 255, 0.6);
  --footer-border-subscription: rgba(255, 255, 255, 0.3);
  --placeholder-modal-color: rgba(117, 117, 117, 0.5);
  --social-background-foot: rgba(255, 255, 255, 0.1);
  --overlay-cards-color: rgba(33, 150, 243, 0.9);
  --border-form-color: rgba(33, 33, 33, 0.2);
  --work-item-color: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --icon-close-color: rgba(0, 0, 0, 0.1);
  --text-logo-color: #000000;
  --white-color: #ffffff;
  --section-color: #f5f4fa;
  --footer-color: #2f303a;
  --border-header-color: #ececec;
  --border-cards-color: #eeeeee;
  --border-clients-color: #afb1b8;
}
